*{
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color:rgb(32,44,60) ;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
}
.barra{
    display: flex;
    flex-flow: row;
    background-color: rgb(59, 107, 180);
    margin:0;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    height: 200px;
    overflow: auto;
}

.barra :is(.inicio,.offline,.online){
    margin: 10px;
}

::placeholder{
    color:white;
}

#search_bar{
    display: flex;
    background-color: rgb(56, 100, 132);
    border: solid 2px rgb(14, 14, 49);
    border-radius: 15px;
    height: 15%;
    -moz-user-focus: none;
    width: 50%;
    font-size: 17.5px;
    transition: 0.5s;
    margin: 10px;
    justify-content: center;
    color: white;
    
}

.search{
    flex-grow: 5;
}

#search_bar:focus{
    height: 50px;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

.inicio{
    flex-grow:1;
    background-color: rgba(255, 255, 255,0);
    display: flex;
    transition:1s;
    height: 100%;
    margin: 0;
    border-radius: 80%;
    justify-content: center;
    
}



.online{
    color: rgb(207, 207, 207);
    text-decoration: none;
    flex-grow: 2;
    background-color: rgb(32,52,124);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    transition: 0.5s;
    font-size: 20px;
    height: 50%;
    border: 2px solid black;
}

.inicio:hover{
    .icone{
        background-color:rgb(0, 77, 105) ;
        border-radius: 80%;
    }
}

.icone{
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.offline{
    color: rgb(207, 207, 207);
    text-decoration: none;
    flex-grow: 2;
    background-color: rgb(32,52,124);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 20px;
    transition: 0.5s;
    height: 50%;
    border: 2px solid black;
}

.offline:hover{
    background-color: rgb(34, 73, 215);
    color: white;
    font-size: 25px; ;
}    


.online:hover{
    background-color: rgb(34, 73, 215);
    color: white;
    font-size: 25px; ;
}

#search_bar{
    flex-grow: 6;
}

.search{
    display: flex;
    align-items: center;
}
#jogos{
    display: flex;
    flex-wrap: wrap;
}
.jogo{
    background-color: rgb(6, 42, 73);
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 5px;
    margin: 20px;
    width: 45vw;
    border-radius: 20px;
    border: solid 1px black;
    
}

.title{
    color: white;
    font-size: 50px;
    border-radius: 10px;
    width: 280px;
    display: flex;
    justify-content: center;
}

.descricao{
    color:gray;

    
}

.download{
    color: rgb(255, 0, 0);
   flex-grow: 1;
    
}

.foto{
    aspect-ratio: 16/9;
    width: 200px;
    border-radius: 20px;
    border: 1px solid white;
    margin: 10px;
}

.texto{
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: center;
    flex-grow: 11;
    margin: 10px;
    align-items: center;
}

.senha{
    border: 2px solid black;
    background-color: rgb(32,52,124);
    color: white;
    border-radius: 10px;
    text-align: center;
}

