html{
    font-size: 62.5%;
}
body{
    display: flex;
    flex-flow:column;
    margin: 10px;
    margin-top: 0;
    background-color: rgb(24, 24, 24);
}
.navbar{
    display: flex;
    position: fixed;
    height: 20%;
    width: calc(100% - 20px);
    background-color: rgb(24, 24, 24);
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.inicio{
    display: flex;
    margin-left: 20px;
    text-decoration: none;  
    font-size: 40px;
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    transition: 1s ;
    border: solid 2px black;
}

.inicio:hover{
    scale: 1.25;
    border-radius: 100px;
    border: 2px solid white;
}

.login{
    flex-grow: 0.8;
    text-decoration: none;
    font-size: 25px;
    color: white;
    transition: 0.5s;
}

.login:hover{
    scale: 1.25;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}
.categoriabar{
    display: flex;
    justify-content: center;
    text-decoration: none;
    flex-grow: 0.8;
    font-size: 25px;
    color: white;
    transition: 0.5s;
}

.categoriabar:hover{
    scale: 1.25;
    background-color: black;
    border-radius: 10px;
}
.navbar>input{
    display: flex;
    justify-content: center;
    text-decoration: none;
    flex-grow: 5;
}
.catalogo{
    display: flex;
    margin-top: 20%;
    height: 80%;
    border:solid rgb(0, 0, 0) 1px ;
    background-color: rgb(12, 12, 12);
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;

   
}

.jogo{
    text-decoration: none;
    width: 45%;
    display: flex;
    flex-flow: row;
    gap: 3px;
    justify-content: space-around;
    background-color: black;
    border: rgb(170, 170, 170) 2px solid;
    border-radius: 2px;
    
}
.textos{
    justify-content: space-around;
    display: flex;
    flex-grow: 5;
    flex-flow: column;
    
    color: rgb(255, 255, 255);
}
.titulo{
    margin: 3px;
    font-size: 20px;

}
.categoria{
    margin: 3px;
    font-size: 10px;
}
.preco{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    margin-right: 3px;
    color: rgb(255, 255, 255);
}
.foto{
    display: flex;
    flex-grow: 3;
    aspect-ratio: 16/9;
    width:20%;
}

.seletorpag{
    display: flex;
    justify-content: center;
    height: 30px;
    gap: 30px;
    margin-top: 10px;
    border: solid red 1px;
}


@media (max-width:500px){

    .catalogo{
        flex-flow: column;

    }
    

}