body{
    margin: 0;
}

.navbar{
    display: flex;
    position: fixed;
    height: 10%;
    width: calc(10% - 20px);
    justify-content: center;
    align-items: center;

    z-index: 1;
}

.inicio{
    display: flex;
    justify-content: center;
    text-decoration: none;
    transition: 0.5s;
    position: fixed;
    left: 30px;
    top: 30px;
}

.inicio>i{
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    font-size: 60px;
    margin-left: 20px;
    transition: 1s;
}

.inicio>i:hover{
    scale: 1.25;
    border-radius: 100px;
    border: 2px solid white;
}

.foto{

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://j.gifs.com/vVZD2x.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(10%);
    filter: grayscale(60%);
    
}

.foto>img{
    width: 80%;
}
.container{
    overflow: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
}


section{
    font-size: 72px;
    background-color: lightblue;
    height:100vh;
    scroll-snap-align: start;
}

section:nth-child(1){
background-color: lightblue;
}
section:nth-child(2){
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    }
    section:nth-child(3){
        background-color: hsl(235, 53%, 79%);
        }

.ytplayer{
aspect-ratio: 16/9;
height: fit-content;
}

