body{
    background-color: rgb(26, 75, 48);
}
nav{
background-color:#004a4d ;
margin:0;
border: 2px solid ;
height: 100px;
display: flex;
flex-direction: row;
gap: 100px;
justify-content:center ;
align-items: center;
border-radius: 10px;
gap:10%;
width: 1v;

}

div>a{
    color: rgb(0, 255, 42);
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
    font-size: 20px ;

   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div> a:hover{
    background-color: rgb(58, 136, 99);
    text-decoration: underline;
    font-size: 30px;
    color: white;
    
}


.Logo{
background-color:rgb(0, 74, 77);
margin: 0 100px;
display: flex;
justify-content: center;
border-radius: 10px;

}

nav>div{
    width: 40%;
    
    gap: 100px;
    display: flex;

}

.imagem_um{
    margin-top: 100px;
    border-radius: 30px;
    height: 300px;

}

input{
font-size: 20px;
height: 40px;
width: 300px;
border-radius: 30px;
border:inset 4px rgb(5, 243, 5);

}

.dropdown{
    
    padding: 5px;
    color: white;
    font-size: 50px;
    width: 60px;
    margin: 50px;
    > div{
       background-color: rgb(0, 74, 77);
       border: 3px solid green;
       position: absolute;
       display: none;
       flex-direction: column;
       margin-top: 40px;
       
       
    }
}

.dropdown:hover > div{
display: flex;

}