body{
    height: 100dvh;
    margin: 0;
}
.quadrado{
    background-color: blue;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 5px solid red;
    border-left: 5px solid green ;
    margin: 0;
    transform-origin: 0 0;
    animation: 5s mover linear infinite;
    transform-origin: center;
    position: absolute;
}

@keyframes mover{
    0% {
        offset-path: path('M0,0 C50,100 150,100 200,0');
      }
    100% {
        offset-path: path('M0,0 C50,-100 150,-100 200,0');
        }
    }